<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <link th:href="@{/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Update information</h1>
<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">

    <input th:type="hidden" th:name="*{name}" th:value="*{name}" th:field="*{name}" />

    <label th:for="description">Description:</label>
    <input th:type="text" th:id="description" th:name="*{description}" th:value="*{description}" th:field="*{description}" required>
    <br>
    <br>
    <label th:for="city">City:</label>
    <input th:type="text" th:id="city" th:name="*{city}" th:value="*{city}" th:field="*{city}" required>
    <br>
    <br>
    <label for="tags">Tags:</label>
    <div id="tags" th:each="tag : ${tags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}" /> <span th:text="${tag.displayTag}">
    </span>
    </div>
    <br>
    <br>
    <button type="submit">Apply changes</button>


</form>
<br>
<br>
<a href="/attractions">
<input type="button" value="Back to attractions">
</a>

</body>
</html>