<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.main.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<h1 th:text="${attraction.name}"> Name </h1>
<table>
    <tr th:each="tag : ${attraction.tags}">
    <td><span th:text="${tag.getDisplayTag()}"> Tags </span></td>
    </tr>
</table>

    <a href="/attractions">
        <br>
        <input type="button" value="Back to Attractions">
    </a>
</body>
</html>
